.cartDescription {
  display: flex;
  flex: 1;
  margin-left: 1rem;
  flex-direction: column;
  justify-content: space-between;
}
.oreorderRecipienWrapper {
  display: flex;
  flex-wrap: wrap;
}

.orderRecipientItem {
  width: 33.3%;
  min-width: 240px;
  display: flex;
  min-height: 50px;
  flex: 0 0 33.333333%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.orderRecipientItemInner {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border-radius: 7px;
  min-height: 50px;
  flex: 1;
}

@media only screen and (max-width: 900px) {
  .orderRecipientItem {
    flex: 0 0 50%;
  }
}
@media only screen and (max-width: 700px) {
  .orderRecipientItem {
    flex: 0 0 100%;
  }
}
