.orderWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0.5rem 0;
  border-radius: 7px;
  align-items: center;
  height: fit-content;
  padding: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.cartReceipt {
  display: flex;
  align-items: center;
  background-color: #00a0461a;
  border: 1px solid #00a046;
  padding: 0.5rem;
  border-radius: 7px;
}
