.cartWrapper {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
}
.orderWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 7px;
  margin-bottom: 0.5rem;
  align-items: center;
  height: fit-content;
  padding: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

