.cartItem {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
  min-height: 140px;
  border-radius: 7px;
  height: fit-content;
  padding: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.cartDescription {
  display: flex;
  flex: 1;
  margin-left: 1rem;
  flex-direction: column;
}

.cartCounter > div {
  margin: 0.5rem 0.5rem 0 0;
  display: flex;
  align-items: baseline;
  flex-direction: row;
}
.cartCounter  {
    margin: 0.5rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: row;
    flex: auto;
  }
  .cartCounter button:disabled {
    background: grey;
  }

.quentity {
  margin: 0.5rem 1rem;
}
