.productDetails {
  padding: 1rem;
  display: flex;
  border-radius: 7px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.productDetails .descriptionWrapper {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productDetails .productFooter {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .productDetails {
    display: block;
  }
  .productDetails > div:first-child {
    height: 150px;
    width: 100% !important;
  }
}
